{% extends "detalhe_layout.html" %}
<!--criamos um bloco de conteúdo a ser interpretado pelo python-->
{% block empresa %}
<div style="display: inline-flex;flex-direction: column;align-items: center; padding: 25px;">
    <h5 class="indigo-text">Centralize seu rosto na camera e clique no botão "Cadastrar foto"</h5>
    <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
        <video id="video" width="640" height="480" autoplay></video>

        <div style="display: inline-flex;flex-direction: column;align-items: center;">
            <form method="post" enctype=multipart/form-data id="myForm">
              <input style="visibility: hidden;pointer-events:none;" id='name' type='text' value="{{ id }}">
            </form>
            <table>
                <tr>
                    <td><button id="snap" class="btn waves-effect waves-light">Cadastrar foto</button></td>
                    <td><a href="/funcionarios"><button class="btn waves-effect waves-light" type="button" style="margin: 25px;background-color: red">Cancelar</button></a></td>
                </tr>
            </table>
            <h6 id="message"></h6>
        </div>
        <div id="results"></div>
        <canvas id="canvas" width="640" height="480" style="display: none"></canvas>
    </div>
</div>
<script src="/static/js/upload.js"></script>
{% endblock %}
