{% extends "detalhe_layout.html" %}
{% block empresa %}
<div style="display: inline-flex;flex-direction: column;align-items: center; padding: 25px;">
	<h5>Bem-vindo, {{ nome }}</h5>
	<div class="row">
		<div class="col s12 m12">
			<div class="row">
				<div class="col s12 m12">
					<div class="card pink darken-1">
						<div class="card-content white-text">
							<span class="card-title"> {{ fCount }}</span>
							<p>Funcionarios </p>
						</div>
					</div>
				</div>
				<div class="col s12 m12">
					<div class="card cyan darken-1">
						<div class="card-content white-text">
							<span class="card-title"> {{ cCount }}</span>
							<p>Cargos</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}