{% extends "layout.html" %}
{% block conteudo %}
<table>
    <tr style="border: 0">
        <td style="border: 0">
            <ul id="slide-out" class="sidenav sidenav-fixed">
                <li><a href="/empresa">Dashboard</a></li>
                <li><a href="/cargos">Cargos</a></li>
                <li><a href="/funcionarios">Funcionarios</a></li>
            </ul>
        </td>
        <td  style="display: inline-flex;flex-direction: column;align-items: center; padding: 25px;width: 100%; border: 0">
            {% block empresa %}{% endblock %}
        </td>
    </tr>
</table>

{% endblock %}