{% extends "detalhe_layout.html" %}
{% block empresa %}
<div style="display: inline-flex;flex-direction: column;align-items: start;width: 100%;margin-left: 25%">
   <a href="/funcionario"><button style="background-color: #FF7315" class="btn waves-effect waves-light"> Novo <i class="material-icons right">send</i> </button></a>
  <table id="data" class="highlight">
    <thead>
      <tr>
        <th>Id</th>
        <th>None</th>
        <th>CPF</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id_funcionario }} </td>
          <td>{{ user.nome }}</td>
          <td>{{ user.cpf }}</td>
          <td>{{ user.email }}</td>
          <td>
            <a style="background-color: #FF7315" class="btn-floating tooltipped" data-position="bottom" data-tooltip="Cadastrar foto" href="/ponto/{{ user.id_funcionario }}"><i class="Small material-icons">add_a_photo</i></a>
            <a style="background-color: #FF7315" class="btn-floating tooltipped" data-position="bottom" data-tooltip="Retirar relatorio" href="/ponto/{{ user.id_funcionario }}/relatorio"><i class="Small material-icons">archive</i></a>
            <a style="background-color: #FF7315" class="btn-floating tooltipped" data-position="bottom" data-tooltip="Editar" href="/funcionario/{{ user.id_funcionario }}/editar"><i class="Small material-icons">mode_edit</i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}