{% extends "detalhe_funcionario_layout.html" %}
{% block empresa %}
<div style="display: inline-flex;flex-direction: column;align-items: start;width: 100%;margin-left: 25%">
  <h5 style="color: #F2A154;">Lista de pontos</h5>
  <table id="data" class="highlight">
    <thead>
      <tr>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.data_criacao }} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}