<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Admin panel</title>
        {% endif %}

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>

    <body class="d-flex flex-column h-100">
        <header>
            <nav class="light-blue lighten-1" role="navigation" style="z-index: 1;">
                <div class="nav-wrapper container"><a id="logo-container" href="./" class="brand-logo">Logo</a>
                    <ul class="right hide-on-med-and-down">
                        {% if logado %}
                        <li><a href="/empresa">Empresa</a></li>
                        <li><a href="/ponto">Ponto</a></li>
                        <li><a href="/logout">Sair</a></li>
                        {% else %}
                         <li><a href="/login">Entrar</a></li>
                        {% endif %}
                    </ul>

                    <ul id="nav-mobile" class="sidenav">
                        {% if logado %}
                        <li><a href="/empresa">Empresa</a></li>
                        <li><a href="/ponto">Ponto</a></li>
                        <li><a href="/logout">Sair</a></li>
                        {% else %}
                         <li><a href="/login">Entrar</a></li>
                        {% endif %}
                    </ul>
                    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                </div>
            </nav>
        </header>

        <main class="flex-shrink-0">
            <div class="container">
                <div class="center-align" id="content">
                    {% block conteudo %}{% endblock %}
                </div>
            </div>
        </main>

        <footer class="page-footer blue" style="bottom: 0; z-index: 2;">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Sobre</h5>
                        <p class="grey-text text-lighten-4">Somos uma equipe de estudantes universitários trabalhando neste projeto.</p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Feito por equipe de ADS 1/2 semestre 2022
                </div>
            </div>
        </footer>

        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="../static/js/materialize.js"></script>
        <script src="../static/js/init.js"></script>
        <script type='text/javascript'>
            $(document).ready(function(){
                $('.tooltipped').tooltip({delay: 50});
            });
        </script>
    </body>
</html>