<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Admin panel</title>
        {% endif %}
        <link rel="icon" type="image/x-icon" href="{{url_for('static',filename = 'img/Logo.ico')}}">
        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{url_for('static',filename = 'css/materialize.css')}}" rel="stylesheet" media="screen,projection">
        <link href="{{url_for('static',filename = 'css/style.css')}}" rel="stylesheet" media="screen,projection">
    </head>

    <body class="d-flex flex-column h-100">
        <header>
            <nav role="navigation" style="z-index: 1; background-color: #444444">
                <div class="nav-wrapper container"><a id="logo-container" href="../" class="brand-logo"> <img src="{{url_for('static',filename = 'img/Logo.png')}}" style="width: 64px;height: 64px;"> </a>
                    <ul class="right hide-on-med-and-down">
                        {% if logado[0] %}
                            {% if logado[1] == 0 %}
                                <li><a href="/empresa">Empresa</a></li>
                                <li><a href="/ponto">Ponto</a></li>
                                <li><a href="/logout">Sair</a></li>
                            {% else %}
                                <li><a href="/logout">Sair</a></li>
                            {% endif %}
                        {% else %}
                        <li><a href="/login">Empresa</a></li>
                        <li><a href="/loginfuncionario">Funcionario</a></li>
                        {% endif %}
                    </ul>

                    <ul id="nav-mobile" class="sidenav">
                         {% if logado[0] %}
                            {% if logado[1] == 0 %}
                                <li><a href="/empresa">Empresa</a></li>
                                <li><a href="/ponto">Ponto</a></li>
                                <li><a href="/logout">Sair</a></li>
                            {% else %}
                                <li><a href="/detalhes">Empresa</a></li>
                                <li><a href="/logout">Sair</a></li>
                            {% endif %}
                        {% else %}
                        <li><a href="/login">Empresa</a></li>
                        <li><a href="/loginfuncionario">Funcionario</a></li>
                        {% endif %}
                    </ul>
                    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                </div>
            </nav>
        </header>

        <main class="flex-shrink-0" style="background-color: #EDEDED">
            <div class="container">
                <div class="center-align" id="content">
                    {% block conteudo %}{% endblock %}
                </div>
            </div>
        </main>

        <footer class="page-footer" style="bottom: 0; z-index: 2;background-color: #444444">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Sobre</h5>
                        <p class="grey-text text-lighten-4">Somos uma equipe de estudantes universitários trabalhando neste projeto.</p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Feito por equipe de ADS 1/2 semestre 2022
                </div>
            </div>
        </footer>

        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="{{url_for('static',filename = 'js/materialize.js')}}"></script>
        <script src="{{url_for('static',filename = 'js/init.js')}}"></script>
        <script type='text/javascript'>
            $(document).ready(function(){
                $('.tooltipped').tooltip({delay: 50});
            });
        </script>
    </body>
</html>