{% extends "layout.html" %}
<!--criamos um bloco de conteúdo a ser interpretado pelo python-->
{% block conteudo %}
<div style="display: flex; flex-direction: column; align-items: center">
<h1>Face Recognition App</h1>

<video id="video" width="640" height="480" autoplay></video>

<div style="display: inline-flex;flex-direction: column;align-items: center;">
<form method=post enctype=multipart/form-data id="myForm">
    <div style="display: flex; flex-direction: row">
        <input type="checkbox" id="compare" name="compare" checked>
        <label for="compare">Compare Photo</label>
    </div>
    <input id='name' placeholder='Enter name for photo' type='text'>
</form>
<button id="snap">Snap Photo</button>
<h2 id="message"></h2>
</div>

<div id="results"></div>
<canvas id="canvas" width="640" height="480" style="display: none"></canvas>

</div>
{% endblock %}
