{% extends "layout.html" %}
<!--criamos um bloco de conteúdo a ser interpretado pelo python-->
{% block conteudo %}

<div style="display: inline-flex;flex-direction: column;align-items: center; padding: 25px;">
    <h5 style="color: #F2A154;">Por favor, entre em sua conta funcionario</h5>
    <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
        {% if error != None %}
        <div class="card-panel teal">
            <span class="white-text"> {{error}} </span>
          </div>
        {% endif %}
        <form method="POST" action="/loginfuncionario">
            <fieldset class="form-field" style="border: 0; text-align: left;">
                {{ form.cpf.label }}
                {{ form.cpf }}
                {% if form.cpf.errors %}
                <ul class="errors">
                    {% for error in form.cpf.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            <fieldset class="form-field" style="border: 0; text-align: left;">
                {{ form.senha.label }}
                {{ form.senha }}
                {% if form.senha.errors %}
                <ul class="errors">
                    {% for error in form.senha.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            <button class="btn waves-effect waves-light" type="submit" id="enviar" style="margin: 25px;background-color: #FF7315;">Entrar</button>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.60/inputmask/jquery.inputmask.js"></script>

<script type='text/javascript'>
    $("#cpf").inputmask("999.999.999-99");
</script>
{% endblock %}