{% extends "detalhe_layout.html" %}
{% block empresa %}
<div style="display: inline-flex;flex-direction: column;align-items: center; padding: 25px;">
    <!--titulo, descricao, id_empresa, hora_entrada, hora_almoco, hora_saida-->
    <h5 style="color: #F2A154;">Cadastrar um novo cargo</h5>
    <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
        {% if error != None %}
        <div class="card-panel teal">
            <span class="white-text"> {{error}} </span>
          </div>
        {% endif %}
        <form method="POST" action="/cargo">
            <fieldset class="form-field" style="border: 0; text-align: left;">
                {{ form.titulo.label }}
                {{ form.titulo }}
                {% if form.titulo.errors %}
                <ul class="errors">
                    {% for error in form.titulo.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            <fieldset class="form-field" style="border: 0; text-align: left;">
                {{ form.descricao.label }}
                {{ form.descricao }}
                {% if form.descricao.errors %}
                <ul class="errors">
                    {% for error in form.descricao.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            <fieldset class="form-field" style="border: 0; text-align: left;">
                {{ form.hora_entrada.label }}
                {{ form.hora_entrada }}
                {% if form.hora_entrada.errors %}
                <ul class="errors">
                    {% for error in form.hora_entrada.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            <fieldset class="form-field" style="border: 0; text-align: left;">
                {{ form.hora_almoco.label }}
                {{ form.hora_almoco }}
                {% if form.hora_almoco.errors %}
                <ul class="errors">
                    {% for error in form.hora_almoco.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            <fieldset class="form-field" style="border: 0; text-align: left;">
                {{ form.hora_saida.label }}
                {{ form.hora_saida }}
                {% if form.hora_saida.errors %}
                <ul class="errors">
                    {% for error in form.hora_saida.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </fieldset>
            <button class="btn waves-effect waves-light" type="submit" id="enviar" style="margin: 25px;background-color: green;">Registrar</button>
            <a href="/cargos"><button class="btn waves-effect waves-light" type="button" style="margin: 25px;background-color: red">Cancelar</button></a>
        </form>
    </div>
</div>

{% endblock %}